* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c1a2a;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.header .logo {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.header .logo span {
  color: #00bfff;
}

.header .nav-link {
  display: flex;
}

.header .nav-link ul {
  display: flex;
  color: #fff;
}

.header .nav-link ul li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
}

.header .nav-link ul a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.header .nav-link ul a:hover {
  color: #00bfff;
  border-bottom: 1px solid #00bfff;
  transition: border-bottom 0.5s ease-in-out;
}

.header .hambuger {
  display: none;
}

.header .nav-link .cv {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  background-color: #ff007f;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.header .nav-link .cv:hover {
  background-color: #da2b83;
}


/* MAIN */
.Introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.Introduction .image-section{
  width: 20rem;
  margin-right: 15px;
}

.Introduction .image-section img {
  max-width: 100%;
  width: 18rem;
  height: auto;
  border-radius: 50%;
  border-top-right-radius: 300px;
  border-bottom-right-radius: 0px;
  background-color: #00bfff;
  padding: 10px;
  box-shadow: 8px 8px 25px #00bfff;
}

.Introduction .text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  color: #fff;
  max-width: 35rem;
  font-size: 15px;
}

.Introduction .text-section .intro {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 20px;
}

.Introduction .text-section .description {
  margin-bottom: 15px;
  line-height: 1.5;
}

.Introduction .text-section .button {
  cursor: pointer;
  color: #007bff;
  border: 2px solid #007bff;
  width: 130px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.Introduction .text-section .button:hover {
  background-color: #007bff;
  color: #000;
}

.profile{
  background-color: #1a2f47;
}

/* ABOUT ME */
.about-section{
  margin-top: 50px ;
  margin-bottom: 20px;
  width: 100%;
  padding: 30px;
}

.about-section .my-intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.about-section .my-intro span:first-child{
  font-size: 15px;
  color: #00bfff;
}

.about-section .about-me{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.about-section .about-me .my-image{
  width: 20rem;
  height: 50vh;
  margin-right:50px ;
}

.about-section .about-me .my-image img{
  max-width: 100%;
  width: 20rem;
  height: 50vh;
  object-fit: cover;
}

.about-section .about-me .my-description{
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35em;
}

.about-section .about-me .my-description h3{
  font-size: 18px;
}

.about-section .about-me .my-description p{
  font-size: 13px;
  line-height: 1.4;
}

.about-section .about-me .boxes{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.about-section .about-me .boxes .box{
  display: flex;
  flex-direction: column;
  width: 7rem;
  height: 10vh;
  text-align: center;
  padding: 10px;
  margin: 10px;
  margin: 20px;
  margin-left: 0;
  font-size: 13px;
  background-color: #0c1a2a;
}

.about-section .about-me .boxes .box span:first-child{
  font-weight: 700;
  font-size: 20px;
  padding-inline: 5px;
}

.about-section .about-me button a{
  text-decoration: none;
  color: #fff;
}

.about-section .about-me button{
  width: 9rem;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: #ff007f;
  outline: none;
}

.about-section .about-me button a:hover{
  color: #333;
}

/* project-section */
.project-section{
  margin-top: 50px;
}

.project-section .project-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.project-section .project-header span:first-child{
  font-size: 15px;
  color: #00bfff;
}

.project-section  .my-project .project{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23rem;
  height: 70vh;
  background-color: #0c1a2a;
  border-radius: 20px;

}

.project-section  .my-project .project img{
  width: 23rem;
  height: 50vh;
  padding: 10px;
  object-fit: cover;
  border-radius: 20px;
  display: flex;
}

.project-section  .my-project{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.project-section  .my-project .project{
  margin: 20px;
}

.project-section  .my-project .project h3{
  font-size: 20px;
  color: #fff;
}

.project-section .my-project .project p{
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 5px;
}

.contact-section{
  margin-top: 50px;
  padding-bottom: 30px;
}

.contact-section .contact-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.contact-section .contact-header span:first-child{
  font-size: 15px;
  color: #00bfff;
}

.form form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.form input,textarea{
  outline: none;
  border: 2px solid #fff;
}


.form  .fill{
  display: flex;
  flex-direction: column;
}

.form form input ,textarea{
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  color: #fff;
}

.form form textarea{
  padding-bottom: 50px;
}

.form .submit{
  display: block;
  color: #fff;
  cursor: pointer;
  width: 5rem;
  height: 5vh;
  padding: 10px;
  background-color: #ff007f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 30px;
}

.form .submit:hover{
  background-color: #da2b83;
}

footer{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

footer .fa-brands{
  margin-right: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 625px) {
  .header .nav-link {
    display: none;
  }

  .header .hambuger {
    display: flex;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
    padding: 3px;
  }

  .Introduction .text-section {
    font-size: 12px;
  }

  .Introduction .text-section .button {
    font-size: 12px;
  }

  .Introduction .text-section {
   margin-top: none;
  }
   .Introduction .text-section .intro {
    font-size: 25px;
  }
}

@media (max-width:584px) {
  .Introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Introduction .text-section{
    margin: 10px;
  }
   .Introduction .text-section .intro{
    font-size: 10px;
  }
}

@media (max-width:677px) {
  .Introduction .text-section .intro {
    font-size: 30px;
}

.about-section .about-me .my-image{
   display: none;
}
}

@media (max-width:462px) {
  .Introduction .image-section {
    width: 80%;
  }
  .project-section .my-project .project {
    width: 100%;
    height: 70vh; 
  }
  .project-section .my-project .project img{
    width: 100%;
  }
  .form form{
    display: grid;
    place-items: center;
  }
  .about-section .about-me .boxes .box span:first-child{
  font-size: 13px;
}
  
}
 
@media (max-width:323px) {
  .project-section .my-project .project p {
    font-size: 12px;
}
}